---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">
	<main class=" min-h-screen flex flex-col items-center justify-center gap-4">
		<h1 class="text-white text-4xl font-semibold">Working...</h1>
		<img src="/cat-working.gif" alt="Cat working">
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}

</style>
