---
---
<script>
    import {
  Collapse,
  Ripple,
  initTWE,
} from "tw-elements";

initTWE({ Collapse, Ripple });
</script>

<header class="top-0 sticky z-[1000]">
    <nav
      class="relative flex w-full items-center justify-between py-2 shadow-md bg-black lg:flex-wrap lg:justify-start"
      data-twe-navbar-ref>
      <div class="flex w-full flex-wrap items-center justify-between px-3">
        <div class="flex items-center">
          <button
            class="border-0 bg-transparent px-2 text-xl leading-none transition-shadow duration-150 ease-in-out hover:text-neutral-700 focus:text-neutral-700 dark:hover:text-white dark:focus:text-white lg:hidden" 
            type="button"
            data-twe-collapse-init
            data-twe-target="#navbarSupportedContentX"
            aria-controls="navbarSupportedContentX"
            aria-expanded="false"
            aria-label="Toggle navigation">
            <span
              class="[&>svg]:h-7 [&>svg]:w-7 [&>svg]:stroke-black/50 dark:[&>svg]:stroke-neutral-200">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor">
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
              </svg>
            </span>
          </button>
        </div>

        <div
          class="!visible hidden grow basis-[100%] items-center text-center lg:!flex lg:basis-auto lg:text-left"
          id="navbarSupportedContentX"
          data-twe-collapse-item>
          <div class="mb-4 lg:mb-0">
            <a href="#bienvenido"><img src="/logo_bl.png" alt="" class="w-36 mx-auto"></a>
          </div>
          <ul
            class="mx-auto flex flex-col lg:flex-row"
            data-twe-navbar-nav-ref>
            <li class="mb-4 lg:mb-0 lg:pe-2" data-twe-nav-item-ref>
              <a
                class="block text-black/60 transition duration-200 hover:text-black/80 hover:ease-in-out focus:text-black/80 active:text-black/80 motion-reduce:transition-none dark:text-white/60 dark:hover:text-white/80 dark:focus:text-white/80 dark:active:text-white/80 lg:px-2"
                href="#bienvenido"
                data-twe-nav-link-ref
                data-twe-ripple-init
                data-twe-ripple-color="light"
                >Inicio</a
              >
            </li>
            <li class="mb-4 lg:mb-0 lg:pe-2" data-twe-nav-item-ref>
              <a
                class="block text-black/60 transition duration-200 hover:text-black/80 hover:ease-in-out focus:text-black/80 active:text-black/80 motion-reduce:transition-none dark:text-white/60 dark:hover:text-white/80 dark:focus:text-white/80 dark:active:text-white/80 lg:px-2"
                href="#conocenos"
                data-twe-nav-link-ref
                data-twe-ripple-init
                data-twe-ripple-color="light"
                >Conocenos</a
              >
            </li>
            <li class="mb-4 lg:mb-0 lg:pe-2" data-twe-nav-item-ref>
              <a
                class="block text-black/60 transition duration-200 hover:text-black/80 hover:ease-in-out focus:text-black/80 active:text-black/80 motion-reduce:transition-none dark:text-white/60 dark:hover:text-white/80 dark:focus:text-white/80 dark:active:text-white/80 lg:px-2"
                href="#servicios"
                data-twe-nav-link-ref
                data-twe-ripple-init
                data-twe-ripple-color="light"
                >Servicios</a
              >
            </li>
            <li class="mb-4 lg:mb-0 lg:pe-2" data-twe-nav-item-ref>
                <a
                  class="block text-black/60 transition duration-200 hover:text-black/80 hover:ease-in-out focus:text-black/80 active:text-black/80 motion-reduce:transition-none dark:text-white/60 dark:hover:text-white/80 dark:focus:text-white/80 dark:active:text-white/80 lg:px-2"
                  href="#productos"
                  data-twe-nav-link-ref
                  data-twe-ripple-init
                  data-twe-ripple-color="light"
                  >Productos</a
                >
              </li>
              <li class="mb-4 lg:mb-0 lg:pe-2" data-twe-nav-item-ref>
                <a
                  class="block text-black/60 transition duration-200 hover:text-black/80 hover:ease-in-out focus:text-black/80 active:text-black/80 motion-reduce:transition-none dark:text-white/60 dark:hover:text-white/80 dark:focus:text-white/80 dark:active:text-white/80 lg:px-2"
                  href="#contacto"
                  data-twe-nav-link-ref
                  data-twe-ripple-init
                  data-twe-ripple-color="light"
                  >Contacto</a
                >
              </li>
          </ul>

          <script>
            var token = localStorage.getItem("token");

            var botonContainer = document.getElementById("botonContainer");

            if (token) {
                var logoutButton = document.createElement("button");
                logoutButton.textContent = "Cerrar Sesión";
                logoutButton.className = "bg-cyan-800 hover:bg-cyan-600 transition-colors px-3 py-1 rounded-full text-white/80"
                logoutButton.addEventListener("click", function() {
                    localStorage.removeItem("token");
                    location.reload();
                });
                botonContainer.appendChild(logoutButton);
            } else {
                var loginButton = document.createElement("a");
                loginButton.textContent = "Iniciar sesión";
                loginButton.className = "bg-cyan-800 hover:bg-cyan-600 transition-colors px-3 py-1 rounded-full text-white/80";
                loginButton.href = "/client/login";
                botonContainer.appendChild(loginButton);
            }
          </script>


          <div id="botonContainer">
          </div>
        </div>
      </div>
    </nav>
  </header>