---
---

<section>
  <h2 class="text-4xl text-center px-8 font-serif">RESTABLECE TU CONTRASEÑA</h2>
  <p class="text-center text-base px-14 pb-3">Ingresa tu correo electronico para recibir un código de verificación para que puedas cambiar tu antigua contraseña</p>

  <form action="" class="px-7 pt-4 flex flex-col lg:block">

    <div class="flex flex-col pb-5">
      <input id="email" type="email" placeholder="Correo" required class="border-2 border-gray-300 rounded-xl max-w-full text-center text-xl px-5 py-1">
    </div>
    
    <button type="submit" class="bg-black text-white text-xl rounded-xl py-2 px-56">Confirmar</button>
  </form>
</section>

<script>
  document.querySelector('form').addEventListener('submit', e => {
    e.preventDefault()

    const email = document.getElementById('email') as HTMLInputElement

    const data = {
      email: email.value
    }

    console.log(data)

    // API: http://54.164.55.21

    fetch('http://54.164.55.21/email', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify(data)
    })
    .then(res => {
      if(!res.ok){
        alert('Correo no encontrado')
        throw new Error('Correo no encontrado')
      }
    })
    .then(() => {
      localStorage.setItem('email', email.value)
      window.location.href = '/verify-code'
    })
    
  })
</script>