---
---

<div class="flex sm:flex-row flex-col gap-4 items-center text-white">
    <div class="bg-neutral-800 rounded-lg w-[40%] shadow-md">
        <div class="relative overflow-hidden bg-cover bg-no-repeat">
            <img
              src="/carrusel6.png" class="transition duration-300 ease-in-out hover:scale-110 rounded-t-lg w-full" alt="..." 
            />
        </div>
        <p class="font-bold text-wrap p-4">
            IMPRESIONES DE LONAS
        </p>
    </div>

    <div class="bg-neutral-800 rounded-lg w-[40%] shadow-md">
        <div class="relative overflow-hidden bg-cover bg-no-repeat">
            <img
              src="/carrusel1.png" class="transition duration-300 ease-in-out hover:scale-110 rounded-t-lg w-full" alt="..." 
            />
        </div>
        <p class="font-bold text-wrap p-4">
            CORTE LÁSER
        </p>
    </div>

    <div class="bg-neutral-800 rounded-lg w-[40%] shadow-md">
        <div class="relative overflow-hidden bg-cover bg-no-repeat">
            <img
              src="/carrusel2.png" class="transition duration-300 ease-in-out hover:scale-110 rounded-t-lg w-full" alt="..." 
            />
        </div>
        <p class="font-bold text-wrap p-4">
            GRABADO LÁSER
        </p>
    </div>
</div>

