
<main class="flex flex-col items-center justify-center min-h-screen">
  <div class="flex flex-col lg:flex-row bg-white max-h-[480px] max-w-5xl">
    <section class="max-h-full max-w-full">
      <img src="/logo_blackline_black.png" alt="Logo Blackline" class="h-28 p-4">
      <slot />
    </section>
    <div>
      <img src="/img.svg" alt="" class="max-h-full max-w-full hidden lg:block">
    </div>
  </div>
</main>
